*{
  font-size: 16px;
}
.thank-title {
    width: 85%;
    padding: 3%;
    font-size: 1.4em;
}

.page-intro {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
  }
  em{
    font-size: 1.1em;
    color: red;
  }
  
  .intro-left img , .intro-middle img,.intro-right img {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  .intro-left img:hover , .intro-middle img:hover ,.intro-right img:hover  {
    transform: scale(1.1);
  }
  
  .intro-text {
    width: 90%;
    margin: 5px auto 10px auto;
    text-align: center;
    font-size: 0.8em;
  }