.heading {
    margin: auto;
    font-size: 35px;
    border-bottom: 2px solid;
    border-color: #2196F3;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .heading {
        width: 80%;
    }
  }