.page-heading {
    background: #F2F4F7;
    padding: 4rem;
    margin-bottom: 1rem;
}

.page-heading-heading {
    font-family: Lato, sans-serif;
    font-size: 3rem;
}

.page-heading-subheading {
    font-family: Lato, sans-serif;
    font-style: italic;
}

.page-heading-body {
    margin-top: 2rem;
}