.symptomchecker {
    color : white;
}

.pop-result {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 800px;
    border-radius: 15px;
    text-align: left;
    background-color: aliceblue;
    box-shadow: 5px 5px #888888;
    display: block;
    transition: background .3s ease;
    text-align: left;
}
